<div class="modal-body text-center">
  <div
    class="w-100 position-absolute d-flex justify-content-between font-weight-bold rounded py-2 px-3 fixed-top bg-light"
  >
    <span>Log in</span>
    <a class="text-decoration-none text-dark" href="#" (click)="closeDialog()"
      ><i class="x-hover fa fa-times"></i
    ></a>
  </div>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerForm.valid && register()"
    autocomplete="off"
    class="mt-5"
  >
    <h2 class="text-center text-primary">Sign up</h2>
    <hr />
    <div class="d-flex justify-content-center form-group" style="gap: 0.25rem">
      <label class="control-label">Gender: </label>
      <label class="radio-inline">
        <input type="radio" value="male" formControlName="gender" /> Male
      </label>
      <label class="radio-inline">
        <input type="radio" value="female" formControlName="gender" /> Female
      </label>
    </div>
    <app-text-input
      [formControl]="registerForm.controls['username']"
      [label]="'Username'"
    ></app-text-input>
    <app-text-input
      [formControl]="registerForm.controls['knownAs']"
      [label]="'Known As'"
    ></app-text-input>
    <app-text-input
      [formControl]="registerForm.controls['city']"
      [label]="'City'"
    ></app-text-input>
    <app-text-input
      [formControl]="registerForm.controls['country']"
      [label]="'Country'"
    ></app-text-input>
    <app-date-input
      [formControl]="registerForm.controls['dateOfBirth']"
      [label]="'Date Of Birth'"
      [maxDate]="maxDate"
    ></app-date-input>
    <app-text-input
      [formControl]="registerForm.controls['password']"
      [label]="'Password'"
      [type]="'password'"
    ></app-text-input>
    <app-text-input
      [formControl]="registerForm.controls['confirmPassword']"
      [label]="'Confirm Password'"
      [type]="'password'"
    ></app-text-input>

    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{ error }}
        </li>
      </ul>
    </div>

    <div class="form-group text-center">
      <button
        [disabled]="registerForm.invalid"
        class="btn btn-success mr-2"
        type="submit"
      >
        Register
      </button>
      <button class="btn btn-outline-danger mr-2" (click)="close()">
        Close
      </button>
    </div>
    <a (click)="switchToRegister()" href="#">Already have an account? log in</a>
  </form>
</div>
