<div class="row">
  <div *ngIf="member" class="col-sm-12 col-md-4 mb-5">
    <div class="card">
      <img
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div>
          <h1 class="h5">
            <i
              [ngClass]="{
                'fa-circle text-success':
                  (getOnlineStatus(member.username) | async),
                'fa-circle-o text-muted': !(
                  getOnlineStatus(member.username) | async
                )
              }"
              class="fa"
            ></i>
            {{ member.knownAs }}
          </h1>
        </div>
        <div>
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Member Last Active:</strong>
          <p>{{ member.lastActive | timeago }}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
          <p>{{ member.created | date: "dd MMM yyyy" }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button (click)="likeUser()" class="btn btn-primary">Like</button>
          <button (click)="selectMessagesTab(3)" class="btn btn-success">
            Message
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-12 pb-5">
    <tabset
      [justified]="true"
      class="member-tabset"
      style="height: 100%"
      #memberTabs
    >
      <tab heading="About {{ member.knownAs }}">
        <h4>Description</h4>
        <p>{{ member.introduction }}</p>
        <h4>Looking for</h4>
        <p>{{ member.lookingFor }}</p>
      </tab>
      <tab heading="Interests">
        <h4>Interests</h4>
        <p>{{ member.interests }}</p>
      </tab>
      <tab heading="Photos">
        <ngx-gallery
          style="display: inline-block; margin-bottom: 20px"
          [options]="galleryOptions"
          [images]="galleryImages"
        ></ngx-gallery>
      </tab>
      <tab
        heading="Messages"
        (selectTab)="onMessageTabActivate()"
        (deselect)="onMessageTabActivate()"
        class="h-100 pb-0"
      >
        <app-members-messages
          *ngIf="messageTabActive"
          [username]="member.username"
          [member]="member"
        ></app-members-messages>
      </tab>
    </tabset>
  </div>
</div>
