<div *ngIf="accountService.currentUser$ | async" class="dropdown" dropdown> 
  <a dropdownToggle class="clickable dropdown-toggle pointer-event text-decoration-none text-light"> User </a>
  <div class="dropdown-menu" *dropdownMenu>
    <a class="clickable dropdown-item">Edit Profile</a>
    <div class="dropdown-divider"></div>
    <a (click)="logout()" class="clickable dropdown-item">Log out</a>
  </div>
</div>

<div *ngIf="(accountService.currentUser$ | async) === null">
  <button class="btn btn-outline-success" (click)="openModal(template)">
    Login
  </button>
  <ng-template #template>
    <div class="modal-body text-center">
      <div
        class="w-100 position-absolute d-flex justify-content-between font-weight-bold rounded py-2 px-3 fixed-top bg-light"
      >
        <span>Log in</span>
        <a
          class="text-decoration-none text-dark"
          href="#"
          (click)="closeDialog()"
          ><i class="x-hover fa fa-times"></i
        ></a>
      </div>
      <form
        (submit)="login()"
        autocomplete="off"
        #loginForm="ngForm"
        class="d-flex flex-column mt-5"
      >
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            id="password"
            name="username"
            [(ngModel)]="model.userName"
            class="form-control me-2"
            type="text"
            placeholder="Username"
            aria-label="Username"
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            id="password"
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2"
            type="password"
            placeholder="Password"
            aria-label="Username"
          />
        </div>

        <div class="d-flex flex-row justify-content-center my-4">
          <button (click)="closeDialog()" class="btn btn-outline-danger mx-2">
            Cancel
          </button>
          <button class="btn btn-primary mx-2" type="submit">Log in</button>
        </div>
        <a href="#">create an account</a>
      </form>
    </div>
  </ng-template>
</div>
