<div class="row mb-5">
  <div class="d-flex flex-wrap" style="gap: 0.5rem">
    <div *ngFor="let photo of member.photos">
      <img
        src="{{ photo.url }}"
        alt="{{ photo.url }}"
        class="img-thumbnail p-1"
      />
      <div
        class="d-flex justify-content-center text-center"
        style="gap: 0.5rem"
      >
        <button
          [disabled]="photo.isMain"
          [ngClass]="
            photo.isMain ? 'btn-success active' : 'btn-outline-success'
          "
          (click)="setMainPhoto(photo)"
          class="btn btn-sm"
        >
          Main
        </button>
        <button
          [disabled]="photo.isMain"
          (click)="deletePhoto(photo.id)"
          class="btn btn-sm btn-danger"
        >
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1 class="h4">Add Photos</h1>

    <div
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      class="card bg-faded p-3 text-center mb-3 my-drop-zone"
    >
      <i class="fa fa-upload"></i>
      Drop Photos Here
    </div>
    <input
      class="form-control"
      type="file"
      ng2FileSelect
      [uploader]="uploader"
      multiple
    /><br />
  </div>
</div>

<div class="row" *ngIf="uploader?.queue?.length">
  <div class="col-md-12" style="margin-bottom: 40px">
    <h1 class="h4">Upload queue</h1>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table" style="table-layout: fixed">
      <thead>
        <tr>
          <th width="60%">Name</th>
          <th width="30%">Size</th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <strong class="table-cell-text-fit">{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader.options.isHTML5" nowrap>
            {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
          </td>
          <td nowrap>
            <button
              type="button"
              class="btn btn-danger btn-xs"
              (click)="item.remove()"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div class="py-3">
        Queue progress:
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{ width: uploader.progress + '%' }"
          ></div>
        </div>
      </div>
      <div class="d-flex justify-content-center" style="gap: 1rem">
        <button
          type="button"
          class="btn btn-success btn-s"
          (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length"
        >
          <i class="fa fa-upload"></i> Upload
        </button>
        <button
          type="button"
          class="btn btn-warning btn-s"
          (click)="uploader.cancelAll()"
          [disabled]="!uploader.isUploading"
        >
          <i class="fa fa-ban"></i> Cancel
        </button>
      </div>
    </div>
  </div>
</div>
